<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Planets of the universe</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/bs4.css" >

</head>

<body>
	<header>
		<h1>Planets of the Universe</h1>
		{% include nav.html %}
	</header>


{{content}}

<footer>
	{% include nav.html %}
	<p>&copy; Copyright 2019 POU.</p>
</footer>
 
</body>

</html>